* {
    box-sizing: border-box;
  }
  
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  
  .header {
    padding: 60px;
    text-align: center;
    background: rgb(124, 121, 121);
    color: white;
  }
  
  
  .navbar {
    display: flex;
    background-color: #333;
  }
  
  
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
 
  .navbar a:hover {
    background-color: #ddd;
    color: blue;
  }
  
  
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
 
  .side {
    flex: 20%;
    background-color: #4e7875;
    padding: 20px;
  }
  
  
  .main {
    flex: 80%;
    background-color: rgb(118, 155, 189);
    padding: 20px;
  }
  
  
  .fakeimg {
    
    width: 100%;
    padding: 20px;
  }
  
  
  .footer {
    padding: 20px;
    text-align: center;
    background: rgb(124, 121, 121);
  }
  
  
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }